body {
    font: 20px Times, sans-serif;
}
.navbar {
    background-color: rgb(76, 58, 95);
}

.quem-somos{
    background-color: rgb(76, 58, 95);
    color: #f3e5fd;
}

.margin{
    padding-bottom: 20px;
    padding-top: 10px;
}
.parceiros{
    background-color: rgb(93, 66, 99);
}